body{

background-color:#584475!important;

}
.bg-transparent {
  background-color: transparent !important;
}

.height-10 {
    height: 7.25rem;
    background-color: #55497c;
}

/* .page-logo, .page-sidebar, .nav-footer, .bg-brand-gradient {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(51, 148, 225, 0.18)), to(transparent));
} */

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.shadow-lg {
  /* -webkit-box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important; */
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.p-0 {
  padding: 0 !important;
}

.align-items-center {
  /* -webkit-box-align: center !important; */
  -ms-flex-align: center !important;
  align-items: center !important;
}
/* web- name */
.page-logo-text {
  margin-left: 0.5rem;
  font-weight: 300 !important;
  font-size: 2rem;
  color: #fff;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  text-align: left;
  margin-top:21px;
}
/* -create account */
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.text-white {
  color: #fff !important;
}

#create{
  margin-top: 24px;
  margin-left: auto !important;
}